<section class="friend-page">
  <section class="tour-guide-friend">
    <article class="tour-guide-message">
      This is a friends page. It will show all friends for this user. Click on an individual friend to view their profile page or search for a new friend.
    </article>
    <button class="tour-guide-friend-close">Close</button>
  </section>
  <h1>Friends</h1>
  <a href="#search" class="friend-search-link">Find a friend</a>
  <% if (user.escape('is_current_user')) { %>
    <h3>Your Friends (<%= friends %>)</h3>
  <% } else { %>
    <h3><%= user.escape('user_name') %>'s Friends (<%= friends %>)</h3>
  <% } %>
  <ul class="friends-list group"></ul>
</section>
