<section class="friend-page">
  <h1>Friends</h1>
  <a href="#search" class="friend-search-link">Find a friend</a>
  <% if (user.escape('is_current_user')) { %>
    <h3>Your Friends (<%= friends %>)</h3>
  <% } else { %>
    <h3><%= user.escape('user_name') %>'s Friends (<%= friends %>)</h3>
  <% } %>
  <ul class="friends-list group"></ul>
</section>
