<div class="backdrop">
  
  <div id="main"></div>
</div>

<script charset="utf-8">
  $(document).ready(function(){
    DISTILLD.initialize({
      currentUserId: <%= current_user.try(:id) || "null" %>
    });
  });
</script>
