html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}


/* Body */

body {
  background: lightgray;
}

header {
  display: block;
  position: relative;
  width: auto;
  height: 80px;
  background: brown;
}

.header-logo {
  display: block;
  position: absolute;
  margin: auto;
  width: 100px;
  height: 75px;
  left: 485 px;
  border-left: 1px solid black;
  border-right: 1px solid black;

}

main {
  display: block;
  position: relative;
  background: white;
  width: 900px;
  height: 900px;
  margin: auto;
}

.feed-caption {
  display: block;
  position: absolute;
  font-size: 48px;
  font-weight: 700;
  color: orange;
  top: 100px;
  left: 345px;
}
