<section class="sign-in">
  <ul class="sign-in-elements">
    <h1 class="greeting">Log in to DISTILLD</h1>

    <button id="guest-sign-in">Guest Tour</button>

    <form action="<%= session_url %>" method="post" class="session-new-form group">
        <%= auth_form %>
      <fieldset class="session-form-fieldset">
        <div class="session-input">
            <input id="form-email" name="user[email]" value="" placeholder="Email address">
        </div>
        <div class="session-input">
            <input type ="password" id="form-password" name="user[password]" value="" placeholder="Password">
        </div>
        <div class="submit-new-user">
          <button id="submit-new-user">Log In</button>
        </div>
      </fieldset>
    </form>

    <p class="new-user">Not yet a user? <a href="/users/new">Sign Up</a></p>
    <p>
      OR
    </p>
    <a href="/auth/google_oauth2" id="google-sign-in"><img src="https://developers.google.com/accounts/images/sign-in-with-google.png" alt="" /></a>
  </ul>

  <script charset="utf-8">
    var logInGuest = function () {
      document.getElementById("form-email").value = 'bryanmillstein@gmail.com';
      document.getElementById("form-password").value = 'catdog';

      document.getElementById("submit-new-user").click();
    }

    var guestButton = document.getElementById('guest-sign-in');
    guestButton.addEventListener('click', logInGuest);

  </script>
</section>
