<section class="sign-in">
  <ul class="sign-in-elements">
    <h1 class="greeting">Log in to DISTILLD</h1>

    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>

    <form action="<%= session_url %>" method="post" class="session-new-form group">
        <%= auth_form %>
      <fieldset class="session-form-fieldset">
        <div class="session-input">
            <input id="form-email" name="user[email]" value="" placeholder="Email address">
        </div>
        <div class="session-input">
            <input type ="password" id="form-password" name="user[password]" value="" placeholder="Password">
        </div>
        <div class="submit">
          <button>Log In</button>
        </div>
      </fieldset>
    </form>

    <p class="new-user">Not yet a user? <a href="/users/new">Sign Up</a></p>
  </ul>
</section>
