<section class="whisky-options group">
  <section class="tour-guide-whisky tour">
    <article class="tour-guide-message">
      This is your whisky page. It will show the whiskys you've had. Click the link on the right to view suggestions your friends have made to you.
    </article>
    <button class="tour-guide-whisky-close">Close</button>
  </section>
  <% if (user.escape('is_current_user')) { %>
    <% if (!suggestion) { %>
      <h1 id="whisky-headline" class="highlight-header">Your Whiskys</h1>
    <% } else { %>
      <h1 id="whisky-headline">Your Whiskys</h1>
    <% } %>
  <% } else { %>
    <% if (!suggestion) { %>
      <h1 id="whisky-headline" class="highlight-header"><%= user.escape('user_name') %>'s Whiskys</h1>
    <% } else { %>
      <h1 id="whisky-headline"><%= user.escape('user_name') %>'s Whiskys</h1>
    <% } %>
  <% } %>


  <% if (suggestion) { %>
    <h1 id="whisky-suggestions" class="highlight-header">Friends' Suggestions </h1>
  <% } else { %>
    <h1 id="whisky-suggestions">Friends' Suggestions </h1>
  <% } %>


</section>
<ul class="whiskys-list">

</ul>
