<section class="whisky-items group">
  <a href="#/whisky/<%= whisky.id %>">
    <p class="whisky-name"><%= whisky.escape('name') %></p>
  </a>
  <p class="whisky-brand">from <%= whisky.escape('brand') %></p>
</section>
