<section class="toast-elements group">
  <% if (toasted) { %>
    <button id="toasted">Toasted</button>
  <% } else { %>
    <button id="toast">Toast</button>
    <% } %>
    <% if (toasts > 0) { %>
      <article class="toasts" id ="change-toast"><%= toasts %></article>
      <ul class="toasters">

      </ul>
    <% } %>
</section>
