<section class="toast-elements group">
  <% if (toasted) { %>
    <button id="toasted">Toasted</button>
  <% } else { %>
    <button id="toast">Toast</button>
    <% } %>
  <article class="toasts" id ="change-toast"><%= toasts %> toasts</article>
</section>
