<section class="search-page">
  <input type="text" class="query" value="<%= collection.query %>" placeholder="Search for friends...">
  <button class="search-button">Search</button>
  <ul class="search-results"></ul>
</section>
