<section class="settings-elements group">
  <h3>Current Photo</h3>
  <img class="profile-picture" src="<%= user.escape('picture_url') %>"/>
  <form class="user-form-fieldset" enctype="multipart/form-data">
    <h3>Current Info</h3>
    <div class="user-input">
      <label for="form-user-name"></label>
        <input id="form-user-name" name="user_name" value="<%= user.escape('user_name') %>">
    </div>
    <div class="user-input">
      <label for="form-email"></label>
        <input id="form-email" name="user_email" value="<%= user.escape('email') %>">
    </div>
    <div class="">
      <label for="form-picture"></label>
        <input type="file" name="picture" id="input-picture-file" value="">
    </div>
    <div class="">
      <label for="form-background-picture"></label>
        <input type="file" name="background-picture" id="input-background-picture-file" value="">
    </div>
    <div class="picture-preview">
        <img src="" id="picture-preview"/>
    </div>
    <button class="change-photo">Change Photo</button>
    <button class="change-background-photo">Change Background Photo</button>


    <div class="submit">
      <button>Submit</button>
    </div>
  </form>
</section>
