<section>

  <h1 class="user-name"><%= user.escape('user_name') %></h1>
  <button class="friend-button"></button>
  <h3 class="headline">Recent Activity</h3>
  
  <ul class="posts"></ul>

  <form class="post-form"></form>
</section>
