<form class="comment-new-form group">
  <fieldset class="form-fieldset">
    <div class="input">
      <label for="form-body">What do you think?</label>
        <input class="form-body"value=""></textarea>
    </div>
    <div class="submit">
      <button class="submit">Add Comment</button>
    </div>
  </fieldset>
</form>
