<form class="comment-new-form group">
  <fieldset class="comment-form-fieldset">
    <textarea type="text" class="form-body"value="" placeholder="comment..."></textarea>
    <div class="submit">
      <button class="comment-submit">Add Comment</button>
    </div>
  </fieldset>
</form>
