<section class="comment-content group">
  <div class="comment-items">
    <a href="#users/<%= comment.escape('user_id') %>" class="user-name"><%= comment.escape('user_name') %>:</a>
    <p class="comment-body"><%= comment.escape('body') %></p>
  </div>
  <div class="bottom-elements">
    <p class="time-stamp"><%= comment.escape('time_ago') %></p>
    <button class="destroy-comment"></button>
  </div>
</section>
