<section class="comment-content group">
  <a href="#users/<%= comment.escape('user_id') %>" class="user-name"><%= comment.escape('user_name') %>:</a>
  <p class="comment-body"><%= comment.escape('body') %></p>
  <p class="time-stamp"><%= comment.escape('time_ago') %></p>
  <div class="destroy-comment"></div>
</section>
