<section class="rating-display">
  <span data-id="5" id="5">☆ </span><span data-id="4" id="4">☆ </span><span data-id="3" id="3">☆ </span><span data-id="2" id="2">☆ </span><span data-id="1" id="1">☆ </span>
</section>
