Current Form: Edit Post
<form class="post-edit-form">
  <label>Drink
    <input name="drink" value="<%= post.escape('drink') %>">
  </label>

  <label>Body
    <input name="body" value="<%= post.escape('body') %>">
  </label>

  <button class="submit">Update Post</button>
</form>
