Current Form: Edit Post
<form class="post-edit-form">
  <label>Drink
    <input name="drink" value="">
  </label>

  <label>Body
    <input name="body" value="">
  </label>

  <button class="submit">Update Post</button>
</form>
