Add New Post
<form class="post-form">
  <label>Drink
    <input typr="text" name="drink" value="">
  </label>

  <label>Body
    <input typr="text" name="body" value="">
  </label>

  <button class="submit">Add Post</button>
</form>
