<form class="post-new-form group">
  <fieldset class="form-fieldset">
    <div class="input">
      <label for="form-drink">What did you have?</label>
        <input id="form-drink" name="drink" class="input-whisky-search" value="">
    </div>
    <ul class="whiskys">

    </ul>
    <div class="input">
      <label for="form-textarea">How was it?</label>
        <textarea id="form-textarea" name="body" value=""></textarea>
    </div>
    <div class="input">
      <label for="form-location">Where?</label>
        <input type="text" id="input-form-location" name="location" value=""></input>
    </div>
    <div class="submit">
      <button>Add Post</button>
    </div>
    <div class="">
      <label for="form-picture"></label>
        <input type="file" name="picture" id="input-picture-file" value="">
    </div>
    <button class="add-photo">Add Photo</button>
  </fieldset>
</form>

<div id="map">

</div>
