<form class="post-new-form group">
  <fieldset class="form-fieldset">
    <div class="input">
      <label for="form-drink">What did you have?</label>
        <input id="form-drink" name="drink" value="">
    </div>
    <div class="input">
      <label for="form-textarea">How was it?</label>
        <textarea id="form-textarea" name="body" value=""></textarea>
    </div>
    <div class="submit">
      <button class="submit">Add Post</button>
    </div>
  </fieldset>
</form>
