Current Form: Add A New Post
<br>
<br>

<form class="post-new-form">
  <label>Drink
    <input name="drink" value="">
  </label>

  <label>Body
    <input name="body" value="">
  </label>

  <button class="submit">Add Post</button>
</form>
