<h3 class="feed-title">Recent Friend Activity</h3>

<button class="get-form">Have a drink?</button>

<section class="tour-guide-feed">
  <article class="tour-guide-message">
    Welcome to DISTILLD! This is your feed. It will show friends' recent posts. Feel free to add a comment or toast a post. Click on any of the blue links or use the navigation bar up top to explore the rest of the site.
  </article>
  <button class="tour-guide-feed-close">Close</button>
</section>

<div class="post-form"></div>

<ul class="posts"></ul>
