Subview Item: Post- Drink: <%= post.escape('drink') %> Body: <%= post.escape('body') %> <button class="delete-post" data-id="<%= post.id %>">Delete</button> <button class="edit-post" data-id="<%= post.id %>">Edit</button>
<article class="edit-form"></article>
