<section class="post-description group">
  <ul class="post-items">
    <li class="post-user"><a href="#/users/">Bryan </a></li>
    <li>is drinking</li>
    <li><a href="#"><%= post.escape('drink') %> </a></li>
  </ul>
    <p class="post-body"><%= post.escape('body') %></p>
    <ul class="comments"></ul>
    <button class="post-options">Options</button>
    <button class="delete-btn"></button>
    <form class="edit-form"></form>
</section>
