<form class="suggestion-new-form group">
  <fieldset class="form-fieldset">
    <div class="input">
      <label for="form-drink">Whisky?</label>
        <input id="form-drink" name="drink" class="input-whisky-search" value="">
    </div>
    <ul class="whiskys">

    </ul>
    <div class="input">
      <label for="form-textarea"></label>
        <input type="text" id="form-textarea" class="form-textarea" name="body" value="" placeholder="Thoughts..."></input>
    </div>
    <div class="submit-suggestion">
      <button>Recommend</button>
    </div>
  </fieldset>
</form>
