<section class="friend-entry">
  <article class="friend-info">
    <img class="friend-picture" src="<%= friend.escape('picture_url') %>">
    <a id="friend-name" href="#users/<%= friend.id %>"><%= friend.escape('user_name') %></a>
  </article>
</section>
