<form class="suggestion-new-form group">
  <fieldset class="form-fieldset">
    <div class="input">
      <label for="form-friend"></label>
        <input id="form-friend" name="friend" class="input-friend-search" value="" placeholder="Select Friend">
    </div>
    <ul class="friends">

    </ul>
    <div class="input">
      <label for="form-textarea"></label>
        <input type="text" id="form-textarea" class="form-textarea" name="body" value="" placeholder="Thoughts..."></input>
    </div>
    <div class="submit-suggestion">
      <button id="reccomendation-button">Recommend</button>
    </div>
  </fieldset>
</form>
