<form class="suggestion-new-form group">
    <p class="instruction">Want to recommend?</p>
    <button id="reccomendation-button">Recommend</button>
    <div class="input">
        <input id="form-friend" name="friend" class="input-friend-search" value="" placeholder="Enter Friend's Name">
    </div>
    <ul class="friend-choices">

    </ul>
</form>
