/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*COLOR COMBOS*/

 /*PINK-#FF319A
 BLUE- #15ABFF
 YELLOW- #FBB03B

 ORANGE-#FA6900
 BLUE- #69D2E7
 GRAY- #E0E4CC*/


 /* RESET */
 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 /*img {
   display: block;
   width: 100%;
   height: auto;
 }*/

 input,
 button,
 textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 /* CLEARFIX */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 /* STYLING */

button {
    cursor: pointer;
}

 /*NEW SESSION*/

.sign-in {
  background: white;
  position: relative;
  margin: 150px auto 100px;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  padding: 1px 0 0 0;
}

.sign-in-elements {
  text-align: center;

}

.greeting {
  margin: 45px;
  padding: 10px;
  font-size: 32px;
  border-bottom: 1px solid lightgray;
  color: #FA6900;
}

.session-form-fieldset {
  border-bottom: 1px solid lightgray;
  margin: 0 40px;
}

.session-input {
  position: relative;
}

.session-input label {
  position: absolute;
  left: 40px;
  top: 10px;
  color: gray;
  font-size: 18px;
  font-weight: 500;
}


.session-form-fieldset .session-input {
  margin: 10px auto;
  width: 200px;
  height: 30px;
  padding: 5px 0;
  border: 1px solid gray;
  border-radius: 5px;

}

.session-input > input {
  background: transparent;
  border: none;
  border-left: 1px solid lightgray;
  width: 150px;
  padding: 7px 0 ;
}

.submit > button {
  background: #FA6900;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  width: 180px;
  margin: 20px 0;
  border-radius: 5px;

}

.new-user {
  margin: 15px 0;
  font-size: 18px;

}

.new-user a {
  color: #69D2E7;
  font-weight: 900;
}

 /*NEW USER*/

.sign-up {
  background: white;
  position: relative;
  margin: 150px auto 100px;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  padding: 1px 0 0 0;
}

.sign-up-elements {
  text-align: center;

}

.greeting {
  padding: 0px 5px 10px 5px;;
  font-size: 32px;
  border-bottom: 1px solid lightgray;
  color: #FA6900;
}

.user-form-fieldset {
  border-bottom: 1px solid lightgray;
  margin: 0 40px;
}

.user-input {
  position: relative;
}

.user-input label {
  position: absolute;
  left: 40px;
  top: 10px;
  color: gray;
  font-size: 18px;
  font-weight: 500;
}


.user-form-fieldset .user-input {
  margin: 0 auto 7px;
  width: 200px;
  height: 30px;
  padding: 5px 0;
  border: 1px solid gray;
  border-radius: 5px;

}

.user-input > input {
  background: transparent;
  border: none;
  border-left: 1px solid lightgray;
  width: 150px;
  padding: 7px 0;
}

.submit > button {
  background: #FA6900;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  width: 180px;
  margin: 20px 0;
  border-radius: 5px;

}

.new-session {
  margin: 15px 0;
  font-size: 18px;

}

.new-session a {
  color: #69D2E7;
  font-weight: 900;
}


 /* HEADER */


.header {
 background: #FA6900;
 border-bottom: 1px solid black;
}

.header a {
 display: block;
 padding: 10px 10px;
}

.header form {
 display: block;
 padding: 10px 10px;
}

.header-nav {
 margin: 0 auto;
 width: 900px;
}

.header-logo {
  float: left;
  font-size: 28px;
  color: white;
}

.header-logo:hover {
  font-weight: bold;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
}

.header-list > li:hover {
  font-weight: bold;
}

.sign-out {
  color: black;
}


/* CONTENT */

body {
  background: #69D2E7;
}

.backdrop {
  margin: 0 auto;
  margin-top: 10px;
  background: #E0E4CC;
  width: 900px;
  border: 2px solid gray;
  padding: 0 10px 0 10px;
}

.feed-title {
  padding: 5px 0 0 10px;
  font-size: 24px;
  border-bottom: 1px solid gray;
}

/* FORM */

.get-form {
  background: #FA6900;
  margin: 10px;
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  font-weight: bold;
}

.post-new-form {
  background: green;
}

.form-fieldset {
  margin: 0 0 0 50px;
  padding: 20px;
  width: 500px;
  background: white;
  border: 1px solid black;
}

.input {
  margin: 0 0 10px 0;
}

.input > label {
  display: block;
  font-weight: bold;
  padding: 0 0 5px 0;
}

.input > input {
  background: lightgray;
  height: 10px;
  width: 200px;
  padding: 5px;
  border: 1px solid gray;
}

.input > textarea {
  background: lightgray;
  height: 25px;
  width: 300px;
  padding: 5px;
  border: 1px solid gray;
}

.submit > button {
  background: #FA6900;
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  font-weight: bold;
}

/*USER SHOW*/

.profile-picture {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px 0 0 10px;
}


.get-form {
  background: #FA6900;
  margin: 10px 10px 10px 25px;
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  font-weight: bold;
}

.user-name {
  font-weight: 900;
  font-size: 28px;
  margin: 0 0 10px 75px;
}

/*SETTINGS*/

.settings-elements {
  position: relative;
}

.settings-elements > h3 {
  margin: 10px;
}

.settings-elements .profile-picture {
  margin: 0 0 0 14px;

}

.settings-elements > input {
  background: transparent;
}

.settings-elements #form-user-name:hover {
  border-radius: 5px;
  border: 1px solid #69D2E7;
}

.settings-elements #form-email:hover {
  border-radius: 5px;
  border: 1px solid #69D2E7;
}

.settings-elements #input-picture-file {
  display: none;

}

.settings-elements .change-photo {
  position: absolute;
  top: 50px;
  left: 125px;
  color: #FA6900;
}

.settings-elements .change-photo:hover {
  font-weight: bold;
}

.settings-elements .submit > button {
  text-align: center;
  background: #FA6900;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  width: 100px;
  margin: 20px 0 10px 10px;
  border-radius: 5px;

}

.settings-elements .submit> button:hover {
  border: 1px solid #69D2E7;
}


/*POST*/

.post-description {
  background: white;
  position: relative;
  margin: 10px;
  padding: 10px 20px;
  width: 600px;
  border: 1px solid gray;
}

.post-description .thumb-picture {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  top: 10px;
}

.post-items {
  position: relative;
  margin: 10px 0 0 45px;

}

.post-items > li {
  float: left;
  padding: 0 5px 0 0;
}

.post-items a {
  color: blue;
}

.post-body {
  position: relative;
  background: #E0E4CC;
  margin: 60px 5px 0 5px;
  width: 300px;
  height: 50px;
  padding: 5px 10px;
  border-radius: 2px;
}

.triangle {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 30px solid #E0E4CC;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  top: 40px;
  left: 75px;
}

.post-options {
  background: #FA6900;
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 6px;
  margin: 10px 10px 10px 25px;

}

.post-options:hover {
  background: #69D2E7;
  color: black;
  border: none;

}

.toast-elements {
    background: #FA6900;
    color: white;
    border: 1px solid black;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 6px;
}

.toast-elements .toasts {
  float: right;
  border-left: 1px solid white;
  padding: 0 0 0 5px;
}

.toast-elements button {
  padding: 0 5px 0 0;
}

/*.delete-btn {
  background: #FA6900;
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  font-weight: bold;
}*/


/*COMMENT*/

.comments {
  margin: 0 5px;
}

.comments > li {
  background: #E0E4CC;
  margin: 5px 10px;
  width: 250px;
  display: block;
  height: auto;

}

.comment-content > p {
  color: black;
  font-weight: 300;
  font-size: 16px;
  padding: 5px 10px;

}

.comment-content .user-name {
  float: left;
  color: blue;
}

.comment-content .comment-body {
  float: left;
}

.comment-content button {
  font-size: 12px;
  margin: 10px 0 0 5px;
  padding: 0 0 5px 0;
}
