<%= flash[:errors].join('<br>').html_safe if flash[:errors] %>
<br>
<br>

<% if logged_in? %>
<form action="<%= session_url %>" method="post">
  <%= auth_form %>
    <input type="hidden" name="_method" value="delete">
  <button class="sign-out">Sign Out</button>
</form>
<p class="greeting">Hi, <%= current_user.user_name %></p><a href="">Feed</a>
<br>
<br>
<a href="/#search">Find A Friend</a>
<% end %>
