<section class="sign-in">
  <ul class="sign-in-elements">
    <h1 class="greeting">Log in to DISTILLD</h1>

    <form action="<%= session_url %>" method="post">
      <%= auth_form %>

      <label>Email
        <input type="text" name="user[email]" value="">
      </label>
      <label>Password
        <input type="password" name="user[password]" value="">
      </label>
      <button>Submit</button>
    </form>


    <p>Not yet a user? <a href="/users/new">Sign Up</a></p>
  </ul>
</section>
